@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
body {
  height: 100%;
  width: 100%;
  background: #e9e9e9;
  font-family: "Arimo", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #010b26;
}

* {
  -webkit-transition: 300ms;
  transition: 300ms;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #6abcea;
}